<!DOCTYPE html>
<html>
	<head>
	<title> Enter Worker ID </title>
	<link href="/static/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<br>
	<p>
		This is a dummy HIT to compensate workers who participated in a previous HIT. You may enter your worker ID below to see if you participated in that study. You will not be able to submit this HIT if you did not participate in the previous one.
	</p>

	<center>
	<form method="POST">
		Worker ID: <input type="text" name="workerId">
		<br>
		<br>
		<input type="submit" value="Submit" class="btn btn-default">
	</form>
</center>
</html>