<!DOCTYPE html>
<html>
	<head>
	<title> Feedback </title>
	<link href="/static/style.css" rel="stylesheet">
	</head>
	<br>
	<br>

	<p>
		Thank you for participating in this study. Please let us know if you encountered any problems going through the HIT. Your feedback here will not affect the approval or rejection of your HIT. Thank you!
	</p>

	<center>
	<form method="POST">
		<textarea name="feedback" cols="80" rows="4"></textarea>
		<br>
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
</html>