<!DOCTYPE html>
<html>
<head>
	<title>Consent Form</title>
	<br>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 </head>

<body style="margin:40px 30px;">

<p><b>You're a legend for doing this.</b></p>
<p>
If you're getting your blood tested today, please fill out the following and rate your hunger, and ignore the rest of the Questionnaires. <br>
Otherwise, please continue to the questionnaires and fill them out.<br>
Love ya
</p>

  	<form method="POST" style="padding: 0px;">

	<center>
	<p>What is your subject ID (ask Shai)
	<label for="ID"> </label>
	<answer name="ID" required>
		<input type="text" name="ID"></input>
	</answer>
	</p>
	</center>
	<br>

	<center>
	<p>How long has it been since your last meal (in hours)?

	<label for="HoursSinceMeal"> </label>
	<select name="HoursSinceMeal" required>
		<option selected disabled hidden value=''></option>
		{% for i in range(1,24) %}
			<option value="{{ i|string }}">{{ i|string }}</option>
		{% endfor %}
	</select>
	</p>
	</center>
	<br>

	<center>
	<p>When do you expect to eat your next meal (in how many hours)?

	<label for="HoursToMeal"> </label>
	<select name="HoursToMeal" required>
		<option selected disabled hidden value=''></option>
		{% for i in range(1,24) %}
			<option value="{{ i|string }}">{{ i|string }}</option>
		{% endfor %}
	</select>
	</p>
	<br>
	</center>

	<center>
		<p>What time is it?

 	<select name="time" required>
		<option selected disabled hidden value=''></option>
		{% for i in range(1,13) %}
			<option value="{{ i|string }}">{{ i|string }}</option>
		{% endfor %}
	</select>:
	<select name="minute" required>
		<option selected disabled hidden value=''></option>
		<option value="00">00</option>
		<option value="15">15</option>
		<option value="30">30</option>
		<option value="45">45</option>
	</select>
	<select name="time_of_day" required>
		<option selected disabled hidden value=''></option>
		<option value="AM">AM</option>
		<option value="PM">PM</option>
	</select>
	</p>
	<br>
	</center>


	<br>
	<center><input type="submit" value="Submit" class="btn btn-default"></center>
	<br>


	</form>
</body>
</html>