<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Study details</title>

	 <!-- *** JSPSYCH *** -->
	<script src=/static/dmstudies/jspsych.js></script>
	<script src=/static/dmstudies/jspsych-wl-check-fps_w.js></script>
</head>
<body><!--  style="margin:40% 30%;">-->
<script src="/static/dmstudies/fps-check.js"></script>
<br>
<p id="message" style="margin: 5% 10% 5% 15%">
    In this study, you will be asked to complete several tasks and answer multiple questions.
    Throughout the study, we are interested in your own personal judgments, views and knowledge.
<br><br>
It is important that you stay engaged throughout the study. We will monitor the data for use of other apps or lack of attention.
<br><br>
	If any technical issues arise during the study, please email <a href="mailto:culearninglab@gmail.com">culearninglab@gmail.com</a> for assistance.
	<br><br>
Thank you for participating!
</p>

<center>
	<form method="POST" id="button">
		<input type="submit" value="Continue" class="btn btn-default">
	</form>
	</center>
</body>
</html>