<!DOCTYPE html>
<html>
	<head>
	<title> Enter Worker ID </title>
	<link href="/static/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<br>
	<p>
		This is a dummy HIT to compensate workers who participated in a previous HIT. You may enter your worker ID below to see if you participated in that study. You will not be able to submit this HIT if you did not participate in the previous one.
	</p>
	<p>
		If you did participate in that study, you will be able to accept and submit this HIT. Please note that as we stated in the consent form at the beginning of the HIT, "Payment will be given upon verification that the survey was completed and response accuracy verified." If you completed the previous food study HIT satisfactorily, your HIT will be accepted. If you did not complete the HIT satisfactorily, your HIT will be rejected. 
	</p>

	<center>
	<form method="POST">
		Worker ID: <input type="text" name="workerId">
		<br>
		<br>
		<input type="submit" value="Submit" class="btn btn-default">
	</form>
</center>
</html>