<!DOCTYPE html>
<title>Instructions</title>
<link href="/static/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html>
<body style="margin: 5% 5% 5% 5%">
<center>
<p>You will now begin the full version of the task. Please remember to press "Q" to skip, "T" to pay, and "P" if you are certain that you already know the answer to the question. The task will continue for 10 minutes.</p>
<p><b>Please remain focused on this task for the next 10 minutes. We are able to note when participants click away from the task and we will review all data before approving the HIT.</b></p>

<form method="POST">
	<input type="submit" value="Continue" class="btn btn-default">
</form>
</center>
<br><br>
</body>
</html>