<!DOCTYPE html>
<html>
	<head>
	<title></title>
	<link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<br><br>
	<form method="POST" style="padding: 0px;">
	<center>
	<p>What time was your last meal or snack?</p>
	Date: 
	<select name="month" required>
		<option selected disabled hidden value=''></option>
		<option value="January">January</option>
		<option value="February">February</option>
		<option value="March">March</option>
		<option value="April">April</option>
		<option value="May">May</option>
		<option value="June">June</option>
		<option value="July">July</option>
		<option value="August">August</option>
		<option value="September">September</option>
		<option value="October">October</option>
		<option value="November">November</option>
		<option value="December">December</option>
	</select>
	<select name="day" required>
		<option selected disabled hidden value=''></option>
		{% for i in range(1,32) %}
			<option value="{{ i|string }}">{{ i|string }}</option>
		{% endfor %}
	</select>
		&emsp;&emsp;&emsp;
	Time: 
	<select name="hour" required>
		<option selected disabled hidden value=''></option>
		{% for i in range(1,13) %}
			<option value="{{ i|string }}">{{ i|string }}</option>
		{% endfor %}
	</select>:
	<select name="minute" required>
		<option selected disabled hidden value=''></option>
		<option value="00">00</option>
		<option value="15">15</option>
		<option value="30">30</option>
		<option value="45">45</option>
	</select>
	<select name="time_of_day" required>
		<option selected disabled hidden value=''></option>
		<option value="AM">AM</option>
		<option value="PM">PM</option>
	</select>
	<br><br>
	<center><input type="submit" value="Continue" class="btn btn-default"></center>
	</center>
	</form>

</html>