<!DOCTYPE html>
<title>Instructions</title>
<link href="/static/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html>
<center>
	<p body style="margin: 5% 5% 5% 5%">You will now be asked to complete some questionnaires. Please read the instructions carefully before completing each questionnaire. There are no right or wrong answers, so please choose the answers that best describe you.</p>
<br><br>

<form method="POST">
	<input type="submit" value="Continue" class="btn btn-default">
</form>
</center>
</html>