<!DOCTYPE html>
<html>
  
  <head>
    <title>Decision-Making Study</title>
    
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

        <!-- css -->
        <link rel='stylesheet' type='text/css' href='/static/dmstudies/jspsych_myStyle.css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">


    <!-- *** JSPSYCH *** -->
    <script src=/static/dmstudies/jspsych.js></script>
    <script src=/static/dmstudies/jspsych-wl-html-button-response.js></script>
    <script src=/static/dmstudies/jspsych-wl-html-keyboard-response.js></script>
    <script src=/static/dmstudies/jspsych-wl-check-fps.js></script>
    <script src=/static/dmstudies/jspsych-wl-rdm.js></script>
    <script src=/static/dmstudies/jspsych-fullscreen.js></script>
    <script src="/static/dmstudies/jspsych-wl-survey-all-types.js"></script>
    <script src="/static/dmstudies/jspsych-wl-survey-multi-select.js" ></script>
    <script src="/static/dmstudies/sizeof.js" ></script>

    </script>
    
  </head>
  
  <!--THE EXPERIMENT -->
  <body>
    <script src="/static/dmstudies/rdm-color.js"></script>
  </body>
</html>
