<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Study details</title>

    <!-- *** JSPSYCH *** -->
	<script src=/static/dmstudies/jspsych.js></script>
</head>
<body><!--  style="margin:40% 30%;">-->
<br>
<center>
   <h3>Unfortunately, you do not qualify for this HIT.</h3>
   <h3>Currently we can only use participants whose diet is less restricted.</h3><br><br>';
	<h3><br><br>We are sorry for the inconvenience! You can close this browser window now.</h3>';
	<!-- jsPsych.endExperiment(exitMessage); -->
</center>
</body>
</html>